KAIST의 알고리즘 문제해결 동아리 RUN의 동아리 웹사이트를 만들어야 해.
- main page(페이지 스크롤 없이 한 화면에 들어오게)
- 소개 페이지
- 공지사항 게시판(새 md 파일을 작성해서 커밋하면 자동으로 공지사항 목록이 갱신되는 구조)
- 대회 아카이브(문제 지문 등 각종 리소스 파일 제공), 봄 대회와 가을 대회로 카테고리가 나뉘어짐
- 연락처 페이지

- 사이트 헤더에는 동아리명, 메뉴, 한국어 / English 언어 변환 기능, 라이트모드/다크모드 변환이 있어야 함